<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style=" background-color: rgb(236, 172, 120)">
<h1 style="color:rgb(124, 36, 186);font-family:cursive">Registration form</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="text" name="first_name" placeholder="Enter your first_name"><br>
    <input type="text" name="last_name" placeholder="Enter your last_name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">


</form>
{% for msg in messages %}
<h2 style="color:rgb(124, 36, 186);font-family:cursive">{{msg}}</h2>
{% endfor %}
</body>
</html>